<% include ../partials/head %>
<% include ../partials/header %>

<p><b> <%= competition.name %> </b></p>

<p><a href="/">Go Home</a></p>

<% if (locals.user && locals.allMembers) { %>
  <p>Manage Your Competition</p>

  <table>
    <tr>
      <th>Username</th>
      <th>Action</th>
    </tr>
    <% for (var i = 0; i < allMembers.length; i++) { %>
      <tr>
        <td><%= allMembers[i].username %></td>
        <td>
          <% if (allMembers[i].active_state == 0) { %>
            <form method="post" action="/approveRequest">
              <input type="hidden" value="<%= competition.id %>" name="competition_id" />
              <input type="hidden" value="<%= allMembers[i].id %>" name="user_id" />
              <input type="submit" value="Approve Request"/>
            </form>
            <form method="post" action="/denyRequest">
              <input type="hidden" value="<%= competition.id %>" name="competition_id" />
              <input type="hidden" value="<%= allMembers[i].id %>" name="user_id" />
              <input type="submit" value="Deny Request"/>
            </form>
          <% } else if (allMembers[i].active_state == 1) { %>
            <form method="post" action="/denyRequest">
              <input type="hidden" value="<%= competition.id %>" name="competition_id" />
              <input type="hidden" value="<%= allMembers[i].id %>" name="user_id" />
              <input type="submit" value="<% if (allMembers[i].id != user.id) { %> Kick <% } else { %> Quit <% } %>"/>
            </form>
          <% } %>
        </td>
      </tr>
    <% } %>
  </table>
<% } %>

<% if (locals.user && locals.portfolio) { %>

  <p>You're a competitor!</p>

  <p> Go <a href="/competitions/<%=competition.id %>/trade">Trade</a></p>

  <!-- TODO: add a confirm -->
  <form action="/removeCompetitor" method = "post"><input type="hidden" value="<%= competition.id %>" name = "competition_id"/><input type="submit" value="Quit"/></form>

<% } else if (user) { %>
  <form method="post" action="/addCompetitor"><input type="hidden" value="<%= competition.id %>" name="competition_id" /><input type="submit" value="Request To Join"/></form>
<% } %>

<p><b> All Competitors </b></p>
<table>
  <tr>
    <th>Username</th>
    <th>Current Valutaion</th>
  </tr>
  <% for (var i = 0; i < competitors.length; i++) { %>
    <tr>
      <td><%= competitors[i].username %></td>
      <!-- todo valuation -->
    </tr>
  <% } %>
</table>

<% include ../partials/footer %>
