<% include ../partials/head %>
<% include ../partials/header %>

<p>Welcome, <%= user.username %>!<br></p>
<p>You are currently trading for the <a href="/competitions/<%=competition.id %>"><%= competition.name %></a> competition! </p>

<br><p> Your capital: <%= capital %></p>
<% var totalValue = capital %>

<% if (portfolio.length > 0 ) { %>
  <table>
    <tr>
      <th>Stock</th>
      <th>Shares</th>
      <th>Value Per Share</th>
      <th>Total Value</th>
    </tr>
    <% for (var i = 0; i < portfolio.length; i++ ) { %>
      <tr>
        <td><%= portfolio[i].symbol %></td>
        <td><%= portfolio[i].shares %></td>
        <td><%= portfolio[i].valuePerShare %> </td>
        <td><%= portfolio[i].totalValue %></td>
        <% totalValue += portfolio[i].totalValue %>
      </tr>
    <% } %>
  </table>
<% } %>
<p>Your total valuation: <%= totalValue %></p>

<p> Make new trades </p>
<% if (locals.errorMessage) { %>
  <p><%=errorMessage %></p>
<% } %>

<table>
  <td><form method="post" action="/competitions/<%= competition.id %>/trade">
    <input name="symbol" type = "text" placeholder = "Symbol"/>
    <input name="option" type="hidden" value="buy"/>
    <input name="competition" type="hidden" value="<%= competition.id %>"/>
    <input type="text" name="quantity" placeholder = "Quantity"/>
    <input type="submit" value="Buy"/>
  </form></td>

  <td><form method="post" action="/competitions/<%= competition.id %>/trade">
    <input name="symbol" type = "text" placeholder = "Symbol"/>
    <input name="option" type="hidden" value="sell"/>
    <input name="competition" type="hidden" value="<%= competition.id %>"/>
    <input type="text" name="quantity" placeholder = "Quantity"/>
    <input type="submit" value="Sell"/>
  </form></td>
</table>

<p>Check the value of a stock symbol!</p>
<form action="/competitions/<%= competition.id %>/trade" method="post">
  <input name="symbol" type="text" placeholder="Enter a symbol" required/>
  <input name="competition" type="hidden" value="<%= competition.id %>"/>
  <input name="option" type="hidden" value="query"/>
  <input type="submit" value="Get Value"/>
</form>

<% if (locals.symbol) { %>
  <p> <i>$<%= symbol %> </i></p>
  <p> $<%= price %> </p>
<% } %>

<!-- TODO buy and sell forms -->
<% include ../partials/footer %>
