<% include ../partials/head %>
<% include ../partials/header %>

<p>Trade Tester</p>
<p></p>

<p> hello, <%= user.username %></p>
<a href="/logout">Log Out</a>
<a href = "/newCompetition">New Competition</a>
<a href ="/joinCompetition">Join a Competition</a>

<!-- this needs an are you sure TODO -->
<p>Your API Key is: <%= user.api_key %> <form action="/newApiKey" method="post"><input type="submit" value ="Get A New API Key" /></form>

<br><br>

<% if (locals.ownedCompetitions && ownedCompetitions.length > 0) { %>
  <div><p> Your Owned Competitions </p>
    <table>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Starting Capital</th>
      </tr>
      <% for (var i = 0; i < ownedCompetitions.length; i++) { %>
        <tr>
          <td><a href="/competitions/<%= ownedCompetitions[i].id %>"><%= ownedCompetitions[i].name %></a> </td>
          <td><%= ownedCompetitions[i].start_date %></td>
          <td><%= ownedCompetitions[i].end_date %></td>
          <td><%= ownedCompetitions[i].starting_capital%></td>
        </tr>
      <% } %>
    </table>
  <div>
<% } %>

<% if (locals.participantCompetitions && participantCompetitions.length > 0) { %>
  <div> <p> Competitions You Are In </p>
    <table>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Starting Capital</th>
        <th>State</th>
        <th>Action</th>
      </tr>
      <% for (var i = 0; i < participantCompetitions.length; i++) { %>
        <tr>
          <td><a href="/competitions/<%= participantCompetitions[i].id %>"> <%= participantCompetitions[i].name %> </a> </td>
          <td><%= participantCompetitions[i].start_date %></td>
          <td><%= participantCompetitions[i].end_date %></td>
          <td><%= participantCompetitions[i].starting_capital%></td>
          <td><% if (participantCompetitions[i].active_state === 1) { %> Active <% } else { %> Pending <% } %> </td> <!-- TODO more states -->
          <td><form action="/removeCompetitor" method = "post"><input type="hidden" value="<%=participantCompetitions[i].id %>" name = "competition_id"/><input type="submit" value="Quit"/></form></td>
        </tr>
      <% } %>
    </table>
  </div>
<% } %>

<% include ../partials/footer %>
